body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    
    
}
.video-grid{
    margin-left: 5%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
 }
.video-card{
    margin-top: 20px;
}
ion-icon{
    position: relative;
    bottom: 12px;
    right: 10px;
    font-size:2rem;
  
    

     
}
.sidebar {
   
    background-color: #f1f1f153;
    padding: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height:auto;
    width: 10%;
    overflow: scroll;
}
    
   
         

     
.from-youtube{
    width: 140%;
    height: 34vh;
     position: relative;
    right: 50%;
    margin-left:64px;
 

}
.setting{
    width: 140%;
    position: relative;
    right: 20px;
}
.material-icons{
    margin-top: 5px;
    position: relative;
    top: 9px;
    padding: 12px;
}
#d{
    font-size: 2rem;
}
#from{
     position: relative;
     top: 13px;
     text-transform: uppercase;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.sidebar ul li a:hover{
    color: #00fbcd;
}

.content {
    width: 85%;
    padding: 20px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    height: 60px;
     
}

.search-bar {       
    flex-grow: 1;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
   
    border: 1px solid #ccc;
    border-radius: 10px 0px 1px 10px;
}

.search-bar button {
    padding: 10px 25px;
    border: none;
    background-color: #cf8787;
    color: white;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
     
}
#youtube{
    position: relative;
    top: 12px;
    color: red;
}
#search{
    position: relative;
    top: 5px;
}
#mic{
    position: relative;
    top: 8px;
    left: 30px;
    font-size: 3rem;
}
#user{
    position: relative;   
    left: 33px;
    top: 10px; 
}
#elli{
    position: relative;   
    left: 73px;
    top: 15px; 
}
#icon{
    position: relative;
    top: 10px;
}
.user-options a {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #000;
    border-radius: 15px;
}




.video-card img {
    width: 100%;
    border-radius: 5px;
}

.video-card h3 {
    margin: 10px 0 5px;
    font-size: 1rem;
}

.video-card p {
    color: #666;
    font-size: 0.9rem;
}
.menu{
    padding: 3px;
    height: 6vh;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000;
    background: #a68f8f79;
    padding: 12px;
    border-radius: 7px;
}
.menu ul li a:hover{
    color: aqua;
    background: #000;
}

     

 